body {
  margin: 0;
}

.nav_container {
  background-color: bisque;
  margin: 0px;
  width: 100%;
}

.heading {
  display: flex;
  justify-content: center;
}

nav {
  margin: 0;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.nav_items {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 50vh;
}

.body_class{
  display: inline;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}
