

.heading {
  display: flex;
  justify-content: center;
}

nav {
  background-color: blanchedalmond;
  margin: 0;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.nav_items {
  display: flex;
  align-items: center;
}

.body_class {
  display: flex;
  justify-content: center;
  align-items: center;
}